@import "../../../styles/mixin.scss";

.form-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;

  form {
    display: flex;
    flex-direction: column;
    width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 0 0 5px 1px #5a5a5a;
    border-radius: 10px;
    padding: 30px;

    .close-icon {
      font-size: 20px;
      position: fixed;
      right: 0;
      top: 0;
      padding: 15px;
      opacity: 0.25;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &:hover {
        opacity: 1;
        color: #ca434a;
      }
    }

    h2 {
      text-align: center;
      font-size: 32px;
      margin-bottom: 30px;

      &::after {
        content: "";
        display: block;
        margin: 20px auto 0;
        border-radius: 10px;
        height: 5px;
        width: 100%;
        background-image: linear-gradient(135deg, #7631fe, #e100ff);
      }
    }

    label {
      font-size: 18px;
      text-transform: capitalize;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      position: relative;

      input,
      select {
        font-size: 18px;
        margin: 5px 0 20px;
        padding: 10px;
        border-radius: 5px;

        &:focus {
          outline: 3px solid #7631fe;
          border: transparent;
        }
      }

      button {
        position: absolute;
        right: 2%;
        top: 40%;
        border: none;
        background-color: transparent;

        svg {
          font-size: 16px;
          cursor: pointer;
        }
      }
    }

    p {
      text-align: right;
      margin-top: 5px;
      font-size: 14px;

      a {
        color: #7631fe;
        font-weight: bold;
        text-transform: uppercase;
        font-style: italic;
        text-decoration-line: none;
        cursor: pointer;
      }
    }

    .submit-btn {
      @include button(#7631fe, #fff);
      margin: 30px 0 10px;
      padding: 10px 0;
    }
  }
}
