@import "../../../styles/mixin.scss";

.edit-admin-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1000px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 0 0 5px 1px #5a5a5a;
    border-radius: 10px;
    padding: 40px;

    h2 {
      text-align: center;
      text-transform: uppercase;
      font-size: 32px;
      letter-spacing: 2px;
      margin-bottom: 20px;
      width: 100%;

      span {
        font-weight: bold;
        text-transform: none;
      }
    }

    .close-icon {
      font-size: 20px;
      position: absolute;
      right: 15px;
      top: 15px;
      opacity: 0.5;
      cursor: pointer;
      transition: 0.1s ease-in-out;

      &:hover {
        opacity: 1;
        color: #ca434a;
      }
    }

    .form-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 75px;
    }

    .edit-login {
      display: flex;
      position: relative;
      flex-direction: column;

      .change-password-container {
        button {
          border: none;
          background-color: transparent;
          color: #7631fe;
          margin: auto;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
          position: absolute;
          right: 0;
          top: -30px;
        }
      }

      .save-btn {
        @include button(#7631fe, #fff);
        padding: 10px 0;
        width: 100%;
        margin-top: auto;
        transform: translateY(-50%);
      }
    }

    // .edit-information {
    // }

    label {
      font-size: 18px;
      text-transform: capitalize;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      position: relative;

      input {
        font-size: 18px;
        margin: 5px 0 15px;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}
