@import "../../styles/mixin.scss";

.body-container {
  margin-left: 250px;
  min-width: 1440px;
  height: 1250px;
  display: flex;
  flex-direction: column;
  background-color: #f7f1ff;
  gap: 20px;
  overflow-y: auto;

  .body {
    width: 90%;
    height: fit-content;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
  }
}
