// set display block while hover object that needed title & position as well!

.title-pop-container {
  width: 150px;
  white-space: wrap;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #000;
  padding: 10px;
  position: absolute;
  display: none;

  p {
    text-align: center;
    font-size: 14px;
  }
}
