@import "../../../styles/mixin.scss";

.popup {
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 999;

  .wrapper {
    width: 375px;
    margin: auto;
    background-color: #fff;
    border: 2px solid #7f7f7f;
    box-shadow: 0 0 10px 0px #333333;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      border-bottom: 1px solid #a0a0a0;
      font-size: 26px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      padding-bottom: 20px;
    }

    .body {
      p {
        font-size: 20px;
        line-height: 1.75;
        letter-spacing: 2px;
        word-spacing: 2.5px;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 0;
        margin: auto;
        span {
          font-weight: bold;
        }
      }
      display: flex;
    }
    .footer {
      border-top: 1px solid #a0a0a0;
      padding-top: 10px;
      display: flex;
      justify-content: flex-end;
      gap: 10px;

      button {
        padding: 10px 15px;
      }

      .confirm-btn {
        @include button(#7631fe, #fff);
      }
      .deny-btn {
        @include button(#ca434a, #fff);
      }
    }
  }
}
