.navbar-container {
  background-color: #fff;
  width: 100%;
  height: 75px;
  box-shadow: 0 0 10px 1px #5e5e5e;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;

  nav {
    width: 1440px;
    height: fit-content;
    margin: auto;

    .navbar-items {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-link {
        display: flex;
        align-items: center;
        gap: 50px;

        a {
          text-decoration-line: none;
          color: #000;
          font-size: 18px;
          letter-spacing: 2px;
          font-weight: 600;

          &::after {
            content: "";
            border-radius: 10px;
            width: 100%;
            height: 4px;
            background-color: #a8deff;
            display: block;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.75s;
          }

          &:hover::after {
            transform-origin: left;
            transform: scaleX(1);
          }
        }

        .logo {
          font-weight: bold;
          font-size: 28px;
          letter-spacing: 2px;
        }
      }

      .nav-buttons {
        display: flex;
        gap: 20px;

        .cart-btn {
          position: relative;
          
          span {
            text-align: center;
            line-height: 1.5;
            width: 20px;
            height: 20px;
            border-radius: 100px;
            background-color: red;
            color: #fff;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(10px, -10px);
          }
        }

        button {
          border: none;
          background-color: transparent;
          cursor: pointer;

          &:hover svg {
            color: #a8deff;
          }

          a {
            color: #000;
          }
        }

        svg {
          font-size: 18px;
          transition: 0.2s ease-in-out;
        }

        .customer-before-login {
          width: 85px;
          font-size: 18px;
          border: 3px solid #000;
          border-radius: 15px;
          font-weight: 600;
          padding: 10px 0;
          transition: 0.2s ease-in-out;

          &:hover {
            color: #fff;
            background-color: #a8deff;
            border: 3px solid #a8deff;
          }
        }

        .customer-after-login {
          width: 85px;
          span {
            margin-right: 5px;
            font-size: 14px;
            letter-spacing: 1px;
            font-style: italic;
          }
        }
      }
    }
  }
}
