.carousel-container {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  position: relative;

  .carousel-card {
    position: absolute;
    width: 1600px;
    height: 750px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.95);
    transition: 0.75s ease-in-out;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .carousel-card-active {
    opacity: 1;
    transform: scale(1);
  }

  .carousel-btn {
    width: 1550px;
    display: flex;
    justify-content: space-between;
    transform: translateY(300px);

    button {
      background-color: #353535be;
      opacity: 0.2;
      border: none;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.25s ease;

      svg {
        font-size: 28px;
        color: #fff;
        opacity: 0.2;
        transition: 0.25s ease;
      }

      &:nth-child(1) {
        svg {
          transform: translateX(-3px);
        }
      }

      &:nth-child(2) {
        svg {
          transform: translateX(3px);
        }
      }

      &:hover svg {
        opacity: 0.5;
      }

      &:hover {
        opacity: 0.5;
        box-shadow: 0 0 5px 0px #000;
      }
    }
  }

  .carousel-title {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 500px;
    width: 400px;
    background-color: rgba($color: #000000, $alpha: 0.35);
    transform: translate(100%, -50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: left;

    h2 {
      width: 80%;
      text-shadow: 0 0 5px #000;
      font-size: 60px;
      letter-spacing: 2px;
      font-weight: bold;
      padding: 0 50px;
      margin-bottom: 25px;
    }

    p {
      width: 80%;
      font-size: 18px;
      padding: 0 40px;
      line-height: 1.5;
      font-style: italic;
    }

    button {
      margin-top: 50px;
      width: 175px;
      height: 65px;
      font-size: 14px;
      color: #fff;
      border: 5px solid #fff;
      background-color: transparent;
      text-transform: capitalize;
      letter-spacing: 2px;
      font-weight: bold;
      transition: 0.25s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}
