.sidebar {
  min-width: 350px;
  height: 1250px;
  float: left;
  font-size: 18px;
  background-color: #001529ff;
  color: #fff;

  & div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .admin {
    gap: 20px;
    height: 150px;
    justify-content: center;

    button {
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: #ffd43a;
      }

      svg {
        font-size: 18px;
      }
    }
  }

  .for-admin {
    background-color: #000c17ff;

    h3 {
      padding: 30px 0 20px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 22px;
    }

    ul {
      display: grid;
      grid-template-rows: repeat(18, 1fr);
      align-items: center;
      height: 1000px;

      li {
        a {
          min-width: 280px;
          display: inline-block;
          font-weight: bold;
          text-align: left;
          text-transform: capitalize;
          letter-spacing: 1px;
          color: #fff;
          width: 200px;
          text-decoration-line: none;
          list-style: none;
          border-radius: 10px;
          padding: 15px 20px;
          cursor: pointer;
          transition: 0.2s ease-in-out;

          svg {
            width: 20px !important;
            margin-right: 15px;
          }

          &:hover {
            color: #fff;
            background-color: #7631fe;
          }
        }
      }
    }
  }

  .filter {
  }
}
