.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  font-size: 14px;
  background-color: #11113c;
  color: #fff;

  & div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .admin {
    gap: 20px;
    height: 150px;
    justify-content: center;

    button {
      border: none;
      background-color: transparent;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: #ffd43a;
      }
    }
  }

  .for-admin {
    h3 {
      padding: 30px 0 20px;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 18px;
    }

    ul {
      display: grid;
      grid-template-rows: repeat(18, 1fr);
      align-items: center;
      height: 1000px;

      li {
        a {
          display: inline-block;
          width: 75%;
          color: #fff;
          text-align: left;
          text-transform: capitalize;
          text-decoration-line: none;
          border-radius: 10px;
          letter-spacing: 1px;
          list-style: none;
          padding: 15px 20px;
          cursor: pointer;
          transition: 0.2s ease-in-out;

          svg {
            width: 20px !important;
            margin-right: 10px;
          }

          &:hover {
            color: #fff;
            background-color: #7631fe;
          }
        }
      }
    }
  }

  .filter {
  }
}
