form {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 10px;

  label {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 5px 0;

    input {
      font-size: 20px;
      width: 70%;
      height: 40px;
      padding: 0 10px;
      border-radius: 5px;
    }

    #product-image {
      padding: 0 !important;

      button {
        padding: 20px;
      }
    }
  }
}
