.form {
  display: flex;
  flex-direction: column;

  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 10px;
    margin-bottom: 50px;

    label {
      font-size: 18px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      gap: 5px 0;

      input {
        font-size: 18px;
        width: 70%;
        height: 40px;
        padding: 0 10px;
        border-radius: 5px;
        border: 2px solid #cccccc;
        background-color: #f1f1f1;
      }

      .product-image {
        padding: 0;
        border: none;
        background-color: transparent;
      }
    }
  }

  section {
    display: flex;
    gap: 0 20px;
    margin-top: 50px;
  }
}
