@import "../../../styles/mixin.scss";

.contact-container {
  width: 1000px;
  height: 575px;
  padding: 75px 0 50px;
  margin: auto;

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }

  .contact-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 400px;
    box-shadow: 0 0 10px 5px #f5f5f5;
    padding: 40px 20px;

    .contact-title {
      color: #000;

      img {
        width: 225px;
        margin-bottom: 10px;
      }

      .contact-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 15px 0;
      }

      h3 {
        font-size: 32px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 30px;
        text-align: center;
      }
    }

    .contact-form {
      width: 500px;

      form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-weight: 500;
        width: 90%;

        label {
          display: flex;
          flex-direction: column;
          gap: 5px;
          font-size: 14px;

          input {
            border: none;
            border-bottom: 3px solid #f5f5f5;
            padding: 10px 10px 5px;

            &:focus {
              outline: none;
            }
          }
        }
      }

      button {
        @include button(#90bedb, #fff);
        margin-top: 30px;
        width: 90%;
        height: 45px;
        border-radius: 100px;

        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
      }
    }
  }
}
